* {
  margin: 0;
  padding: 0;
}
#app > .sect {
  width: 100%;
}
#app > .sect .cont {
  width: 1200px;
  margin: 0 auto;
}
#app .sect_1 {
  height: 400px;
  background: url('../img/bg_1.jpg') no-repeat center top;
}
#app .sect_1 > .cont_1 {
  height: 400px;
}
#app .sect_2 {
  height: 400px;
  background: url('../img/bg_2.jpg') no-repeat center top;
}
#app .sect_2 > .cont_2 {
  height: 400px;
}
#app .sect_3 {
  height: 1700px;
  background: url('../img/bg_3.jpg') no-repeat center top;
}
#app .sect_3 > .cont_3 {
  height: 1700px;
}
#app .sect_4 {
  height: 922px;
  background: url('../img/bg_4.jpg') no-repeat center top;
}
#app .sect_4 > .cont_4 {
  height: 922px;
}
#app .sect_5 {
  height: 678px;
  background: url('../img/bg_5.jpg') no-repeat center top;
}
#app .sect_5 > .cont_5 {
  height: 678px;
}
#app .sect_6 {
  height: 700px;
  background: url('../img/bg_6.jpg') no-repeat center top;
}
#app .sect_6 > .cont_6 {
  height: 700px;
}
